{:paths ["src" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.2"}
         ring/ring-core            {:mvn/version "1.9.1"}
         ring/ring-jetty-adapter   {:mvn/version "1.9.1"}
         ring/ring-json            {:mvn/version "0.5.1"}
         ring/ring-defaults        {:mvn/version "0.3.2"}
         compojure/compojure       {:mvn/version "1.6.2"}
         seancorfield/next.jdbc    {:mvn/version "1.1.646"}
         org.postgresql/postgresql {:mvn/version "42.2.12"}
         }
 :aliases
        {:run     {:main-opts ["-m" "vlko.todos.service"]}
         :test    {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                                 ring/ring-mock         {:mvn/version "0.4.0"}}}
         :runner
                  {:extra-deps {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner"
                                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                   :main-opts  ["-m" "cognitect.test-runner"
                                "-d" "test"]}
         :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                   :exec-fn      hf.depstar/uberjar
                   :exec-args    {:aot        true
                                  :jar        "todos.service.jar"
                                  :main-class "vlko.todos.service"
                                  :sync-pom   true}}}}
